export IAM_ENVIRONMENT="dev" # "development" or "production"

export IAM_DATABASE_HOST="127.0.0.1"
export IAM_DATABASE_USER="postgres"
export IAM_DATABASE_PASSWORD="postgres"
export IAM_DATABASE_PORT=5432
export IAM_DATABASE_NAME=iam

export IAM_JWT_EXPIRATION_TIME_HOUR=72
export IAM_JWT_SIGNED_SECRET="secret"

export IAM_CORS_DOMAIN="*"
